<h3 class="text-center "> templete driven form</h3>


<div class = "border border-4 rounded-2 m-2 p-2">
    <form #signUpForm="ngForm" (submit)="submitForm(signUpForm)"> 
            <p>
            FirstName:
            <input name="firstName" #firstName="ngModel" ngModel required />
            @if(firstName.hasError('required') && firstName.dirty)
            { 
                <span class="text-danger ">*</span>
            }
             </p>
            <p>
                LastName:
                <input name="lirstName" ngModel/>
            </p>
            <p>
                Email:
                <input name="email" ngModel/>
            </p>

            <div ngModelGroup="address">
                <p>
                City:
                <input name="city" ngModel/>
            </p>
            <p>
                State:
                <input name="state" ngModel/>
            </p>

            </div> 
            <input type="reset" value="Clear" class="btn btn-danger ml-5">
            <input type="Submit" value="Submit" [disabled]="signUpForm.invalid" class="btn btn-primary ml-5">
    </form>
    <hr>
    <pre> 
        {{signUpForm.value | json}}
    </pre>
</div>