<div class="container">
  <div class="row">
    <div class="col">
        <div class ="category">
        <div><img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/e00302d428f5c7be.png?q=100" alt="error for loading image"></div>
        <div>Minutes</div>
    </div>
  </div>    
    <div class="col">
        <div class ="category">
        <div><img src="	https://rukminim2.flixcart.com/fk-p-flap/64/64/image/ff559cb9d803d424.png?q=100" alt="error for loading image"></div>
        <div>Fashion</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/5f2ee7f883cdb774.png?q=100" alt="error for loading image"></div>
        <div>Mobiles</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="	https://rukminim2.flixcart.com/fk-p-flap/64/64/image/af646c36d74c4be9.png?q=100" alt="error for loading image"></div>
        <div>Electronics</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/1788f177649e6991.png?q=100" alt="error for loading image"></div>
        <div>Furniture</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/e90944802d996756.jpg?q=100" alt="error for loading image"></div>
        <div>TVs & Appliances</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/3c647c2e0d937dc5.png?q=100" alt="error for loading image"></div>
        <div>Flight bookings</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="	https://rukminim2.flixcart.com/fk-p-flap/64/64/image/b3020c99672953b9.png?q=100" alt="error for loading image"></div>
        <div>Beauty, Toys & More</div>
    </div>
  </div>
  <div class="col">
        <div class ="category">
        <div><img src="https://rukminim2.flixcart.com/fk-p-flap/64/64/image/e730a834ad950bae.png?q=100" alt="error for loading image"></div>
        <div>Grocery</div>
    </div>
  </div>
  </div>
</div>
