<h3 class = "text-center"> pipes </h3>


<!-- <div> {{dateObj | date}}</div>
<h5>{{dateObj | date : 'mediumDate'}}</h5>
<h5>{{dateObj | date : 'longDate'}}</h5>
<h5>{{dateObj | date : 'fullDate'}}</h5>


<div> number/decimal pipes::</div>
<div>{{12.222222 | number : '3.2-5'}}</div>
<div>{{12.2 | number : '3.2-5'}}</div>
<div>{{1| percent}}</div>

<div>
<div> jason pipes::</div>
<div>{{{user} | json}}</div>

</div>

<div>Keyvalue pipes:</div>
@for(entry of user | keyvalue; track $index){
  <div>{{entry.key}} : {{entry.value}}</div>
}

<div>Slice pipes:</div> -->

