<h3 class = " text-center">Data Binding in Angular</h3>

<div class="border border-2 rounded-2 p-2 mb-2">
<div>Name is :: {{myName}}</div> 
<div> Name is :: <span [innerText] = "myName"></span></div> 

<img src = "{{imgUrl}}"/>
<img [src] = "imgUrl" class = "mx-2"  />
<img bind-src = "imgUrl"/>

<div class = "py-3"></div>

<div> 
    <input type = "text" value="Bharath"/>
    <input type = "text" value = "{{myName}}" class = "mx-2">
    <input type = "text" [value] = "myName" class = "mx-2">
    <input type = "text" bind-value = "myName">
    2 way:<input type = "text" [(ngModel)] = "myName" class = "mx-2">

</div>
<div class = "m-2">   
<button class="btn btn-primary" > Click</button>
<button class="btn btn-primary m-2" disabled = "true"> Click</button>
<button class="btn btn-primary " disabled = "{{flag}}"> Click</button>
<button class="btn btn-primary m-2" [disabled] = "flag"> Click</button>
<button class="btn btn-primary " bind-disabled = "flag"> Click</button>

<button class="btn btn-primary m-2" (click)="toggleflag()">Toggle flag</button>
<button class="btn btn-primary m-2" on-click="toggleflag()">Toggle flag</button>


</div>
</div>


<!-- <div class="border border-2 rounded-2 p-2 mb-2">
<h3>Attribute Binding</h3> 
<table class = "table">
  <tbody>
  <tr>
    <th [attr.colspan]="col_span">Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>43</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>57</td>
  </tr>
  </tbody>
  
</table>

<table class = "table">
  <tbody>
  <tr>
    <th [colSpan]="col_span">Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>43</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>57</td>
  </tr>
  </tbody> 
  
</table>-->
<div class="border border-2 rounded-2 p-2 mb-2">
    <h3>Add 2 numbers using 2-way binding</h3>
    <input type = "number" [(ngModel)]="num1"/>
    <input type = "number" [(ngModel)]="num2" class = "mx-2"/>
    <div>Addition of {{num1}} & {{num2}} is ::{{num1+num2}}</div>
</div>

<div class="border border-2 rounded-2 p-2 mb-2">
    <h3>Add 2 numbers using template reference</h3>
    <input type = "number" #n1/>
    <input type = "number" ref-n2 class = "mx-2"/>
    <button class="btn btn-primary" (click)="performAdd(n1.value, n2.value)">Add</button>
     <!-- <button class="btn btn-primary" (click)="performAdd(n1, n2)">Add</button> -->

    <div>Addition result is::{{addResult}}</div>
</div>


<div>
<div class="border border-2 rounded-2 m-2 p-2">
    <div>1. Have a paragraph & a toggle button, on click of the button control the visibility(Show/Hide) of the paragraph</div>
    <h3 bind-hidden = "hiddenValue"> This is a hidden paragraph</h3>
    <button class="btn btn-primary" (click) = hide()>Show/Hide</button>
</div>


 <div class="border border-2 rounded-2 m-2 p-2">
    <div>2. Create a text-area with maxLength=100, as the user keeps typing display updated Remaining characters.</div>
    <div>
        <input type="text" maxlength="100" [(ngModel)] = "TypeInput" (ngModelChange)="remaining = 100 - TypeInput.length" placeholder="Length of input 100 characters">
        <p>Remaining characters: {{ 100 - (TypeInput?.length || 0) }}</p>
    </div>
</div>  

<div class="border border-2 rounded-2 m-2 p-2">
    <div >3.Create dropdown with state names, when user changes dropdown value, print the selected dropdown value in a div</div>
    <select id="stateName" [(ngModel)]="stateN1" >
        <option value="" disabled selected>Selecct a state</option>
        <option value="california">California</option>
        <option value="texas">Texas</option>
        <option value="florida">Florida</option>
        <option value="new-york">New York</option>
        <option value="illinois">Illinois</option>
        <option value="pennsylvania">Pennsylvania</option>
        <option value="ohio">Ohio</option>
        <option value="georgia">Georgia</option>
        <option value="north-carolina">North Carolina</option>
        <option value="michigan">Michigan</option>
    </select>

    <!-- <button class = "btn btn-primary mx-2" (click)="getState(selectedState.value)">Get Selected State</button> -->

    <div>Printing selected state : {{stateN1}}</div>

</div>

<div class="border border-2 rounded-2 m-2 p-2">
    <div>4. have 2 inputBoxes, and a dropdown(+,-,*,/) and perform arithmetic operations</div>
    <input input="number" #n3 />
    <input input="number" ref-n4 class="mx-2"/>
    <select id="operation" #operat>
        <option value="" disabled selected>Select a arithmetic operator</option>
        <option value="add">+</option>
        <option value="minus">-</option>
        <option value="multiply">*</option>
        <option value="division">/</option>
    </select>

    <button class="btn btn-primary mx-2" (click)="arth(operat.value,n3.value,n4.value)">result</button>

    <div>selected operator is {{selectedOp}} , result :{{arthResult}}</div>
</div>



</div>