<h3 class="text-center"> employee data</h3>

<table class="table table-bordered">
    <tbody>
    @for (employee of employeeArr;track $index){
        <tr>
            <td>{{employee?.id}}</td>
            <td>{{employee?.firstName}}</td>
            <td>{{employee?.lastName}}</td>
            <td>{{employee?.getFullName()}}</td>
            <td>{{employee?.getYearlySalary()}}</td>
            <td>{{employee?.gender}}</td>
            <td>{{employee?.sal}}</td>
        
        </tr>
    }
    </tbody>
