<h3 class= "text-center" >User List</h3>

<div class = "container">
    <div class="row">
        @for(user of userArr;track $index)
        {
           <div class = "col-sm-4">
            <div class="card">
                <img class="" src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg?semt=ais_hybrid&w=740&q=80" alt="">
             <div class="card-body text-center">
                 <h5 class="card-title">{{user.username}}</h5>
                 <p class="card-text">{{user.name}}</p>
                 <p class="card-text">{{user.email}}</p>
                 <p class="card-text ">{{user.phone}}</p>
                 <p class="card-text">{{user.address.city}}</p>
                 <a href="#" class="btn btn-primary">Details...</a>
                 </div>
                 </div>
             </div> 
        }

    </div>
</div>
