<div class = "container top-deals px-3 py-4">
    <div class="row">
        <div class="col">
            <div class="card text-center py-3 px-2" >
  <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/smartwatch/5/v/s/-original-imagxrhetgfuebnn.jpeg?q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Watches</h5>
    <p class="card-text"> From Rs. 1,999</p>
  </div>
</div>
        </div>
        <div class="col">
            <div class="card text-center py-3 px-2">
  <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/projector/4/x/3/atom-3x-native-fhd-1080p-4k-support-13-0-android-projector-300-original-imahbxepqgqurfh7.jpeg?q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Projecters</h5>
    <p class="card-text"> From Rs. 2,999</p>
  </div>
</div>
 </div>  
<div class="col">
<div class="card tect-center py-3 px-2">
  <img src="https://rukminim2.flixcart.com/image/110/110/l58iaa80/headphone/k/z/m/nord-buds-ce-oneplus-original-imagfyk4hyvgg6ze.jpeg?q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Monitors</h5>
    <p class="card-text"> From Rs. 999</p>
  </div>
</div>
 </div>  
<div class="col">
<div class="card tect-center py-3 px-2">
  <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/dslr-camera/o/5/9/autofocus-16x-digital-zoom-rechargeable-camera-48-4k-ultra-hd-original-imahcy7gnjqpdqum.jpeg?q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cameras</h5>
    <p class="card-text"> From Rs. 999</p>
  </div>
</div>
        </div>  
<div class="col">
<div class="card tect-center py-3 px-2">
  <img src="https://rukminim2.flixcart.com/image/110/110/xif0q/monitor/u/m/b/-original-imah8rcwxbyk3nft.jpeg?q=80" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Monitors</h5>
    <p class="card-text"> From Rs. 999</p>
  </div>
</div>
    </div>
</div>